<p>Hello <%= @user.first_name %>,</p>
<br>
<p>You've created an account please check you Email for Confirmation</p>
<p>Your email is: <%= @user.email %></p>
<br>
<p>Regards,</p>
<p>Invoice Core Team</p>
